#item {
    display: flex;
	align-items: center;
	cursor: pointer;
	transition: all ease .5s;
	margin: 30px 0;
    border: none !important;
    padding: 0 15px;
}
#item:hover {
    transition: all ease .5s;
    transform: scale(.95);
}
#content #header {
    margin-bottom: 20px;
}
img {
    border-radius: 10px;
    width: 200px;
    transition: all ease .5s;
}
#item:hover img {
    transition: all ease .5s;
    opacity: .7;
}
